/* Sticky footer styles
-------------------------------------------------- */
@charset "UTF-8";

.navbar-default {
    background-color: #81ACFC;
}

.navbar-form .form-control {
    background-color: #6d9bf1;
}

.status {
    background-color: #6d9bf1;
}
